<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 18px; text-align: center;">
            User {name}}  email :{{email}} from {{city}} want buy your car
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <p style="margin: 17px 0 0;">
                Brand   {{brand}}
            </p>
        </td>
    </tr>
    <tr>
    </tr>
</tabрle>