<div style="width: 100%; padding: 45px 35px; box-sizing: border-box">
  Hell {{name}}, Wheather in {{city}}  this day will be!

  <div style= "display: flex; flex-direction: column; background-color: #ffc106">
    <div>temperatura :{{temp}} || </div>
    <div>wind speed : {{wind}}</div>
  </div>

</div>